<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <link rel="stylesheet" href="./../css/estilo.css">
</head>

<body>

  <script type="text/javascript">

    function registrarse(){
      const usuario = document.getElementById('newUser').value
      const pass = document.getElementById('newPass').value
      const email = document.getElementById('Email').value
      axios.post('./../api/views/crearCuenta.php', {
        data: {
          usuario: usuario,
          pass: pass,
          email: email
        }
      }).then(function (res) {
        console.log(res.data)
        if(res.data === 1){
          document.location.reload()
        }
      })
      document.getElementById('span-texto').click()
      document.getElementById('newUser').value = ''
      document.getElementById('newPass').value = ''
      document.getElementById('Email').value = ''
    }
    function cambiarTexto(){
      const elemento = document.getElementById('span-texto')
      if(elemento.innerText === 'Crear Cuenta'){
        elemento.innerText = 'Iniciar Sesion'
      }else{
        elemento.innerText = 'Crear Cuenta'
      }
    }
    function login() {
      const usuario = document.getElementById('user').value
      const pass = document.getElementById('pass').value
      console.log(pass)
      axios.post('./../api/views/iniciarSesion.php', {
        data: {
          usuario: usuario,
          pass: pass
        }
      }).then(function (res) {
        console.log(res.data)
        if(res.data === 1){
          sessionStorage.setItem('sesion', '1')
          document.location.href = './../index.html'
        }
      })
    }

  </script>
  <div class="contenedor-form">
    <div class="toggle" onclick="cambiarTexto()">
        <span id='span-texto'>Crear Cuenta</span>
    </div>

    <div class="formulario">
      <h2>Iniciar Sesión</h2>
      <form>
        <input type="text" id="user" placeholder="&#128100;  Usuario" required>
        <input type="password" id="pass" placeholder="&#128272;  Contraseña" required>
        <input type="button" value="Iniciar Sesión" onclick="login()">
      </form>
    </div>

    <div class="formulario">
        <h2>Crear tu Cuenta</h2>
        <form action="#">
            <input type="text" id="newUser" placeholder="Usuario" required>
            <input type="password" id="newPass" placeholder="Contraseña" required>
            <input type="email" id="Email" placeholder="Correo Electronico" required>
            <input type="button" onclick="registrarse()" value="Registrarse">
        </form>
    </div>

    <div class="reset-password">
        <a href="#">Olvide mi Contraseña</a>
    </div>
</div>

<script src="./../js/jquery-3.4.1.min.js"></script>
<script src="./../js/main.js"></script>

  <div id='contenedor-notas'>

  </div>



</body>

</html>